.form-button {
  padding: 5px 3px;
  color: #ffffff;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.button-green {
  background-color: #43A047;
}

.button-green:hover {
  background-color: #2E7D32;
}

.button-red {
  background-color: #FF1744;
}

.button-red:hover {
  background-color: #D50000;
}

.button-blue {
  background-color: #2979FF;
}

.button-blue:hover {
  background-color: #2962FF;
}