.form-button {
  padding: 5px 3px;
  color: #ffffff;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 2px;
  background-color: #7e57c2;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.form-button:hover {
  background-color: #4d2c91;
}