.shipment-form {
  width: 100%;
  margin: 10px auto;
}

.data-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.button-wrapper {
  display: flex;
  align-items: flex-end;
  margin: 10px 15px;
}

.fa-plus {
  margin-right: 3px;
}